

<!-- <table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Notes</th>
      <th>Video link</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.name %></td>
<td><%= course.description %></td>
<td><%= course.notes %></td>
<td><%= course.video_link %></td>
<td><%= course.price %></td>
<td><%= link_to 'Show', course %></td>
<td><%= link_to 'Edit', edit_course_path(course) %></td>
<td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table> -->

<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading"><%= course.name %> <span class="text-muted"><%= course.notes %></span></h2>
    <p class="lead"><%= course.description %></p>
    <!-- <p class="lead"><%= course.notes %></p> -->
  </div>
  <div class="col-md-5">
    <%= link_to image_tag(course.image.url(:medium), class: "featurette-image img-responsive center-block"), course %>
  </div>
</div>