<!DOCTYPE html>
<html>
<head>
  <title>ELearning Platform</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="<%= root_path %>">E Learning Platform</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Courses</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Help</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>
<div class="container">
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>
</div>

</br>
</br>
<footer>
<div class="footer-section section-spacer lighter"><div class="section-spacer" id="footer"><div id="footer-logo"><a href="/"><img src="https://do6eyjibs3jse.cloudfront.net/assets/masterclass-logo252x108-5afcadcccbfa306f8b166f1e2502118df535ff6956721c86913a4230d772b932.png" alt="undefined" class="" id="undefined"></a></div><div class="container footer-columns-container"><!--Footer Columns--><div class="columns"><div class="column"><h3>Need Help?</h3><p class="enrolled">We're here to answer any questions you have about MasterClass or the classes we offer.</p><a href="https://masterclasshelp.zendesk.com"><img src="https://do6eyjibs3jse.cloudfront.net/assets/support-icons-6ffb860403f1c2562d687d6d59ad9d4cc3a3da0a991faed0e35fc32bdb4b934a.png" alt="Find answers to questions you have about our classes or our company" class="icon-footer" id="undefined"></a><p class="support"></p></div><div class="column"><h3>Safe &amp; Sound</h3><p>Your MasterClass purchase is secure. We never share your personal information.</p><a href="https://www.expeditedssl.com/simple-ssl-scanner/scan?target_domain=www.masterclass.com" rel="nofollow" target="_blank"><img src="https://do6eyjibs3jse.cloudfront.net/assets/cm_images/icon-ssl-seal-ed1dbcac3701c54f51c5ec8fae48b6a01b82ed1080fe820ee80ac0bd10d00182.png" alt="MasterClass has an Expedited SSL Scanner icon because we are a secure website" class="ssl-image" id="undefined"></a></div><div class="column">

<div class="footer-frame"><span>Copyright © 2016 MasterClass</span><nav><ul class="footer-nav"><li><a href="https://masterclasshelp.zendesk.com"> Help Center</a></li><li><a href="https://masterclasshelp.zendesk.com/hc/en-us/articles/205081248"> Contact Us</a></li><li><a href="/privacy"> Privacy</a></li><li><a href="/terms"> Terms</a></li><li><a href="http://careers.masterclass.com/"> Careers</a></li></ul></nav></div></div></div></div></div>
</footer>
</body>
</html>
